<nav id="mainNav" class="navbar navbar-expand-lg navbar-sticky navbar-dark">
    <div class="container">
      <a href="#" class="navbar-brand"><img src="assets/img/Logo.png" alt="Logo"></a>

      <!-- secondary -->
      <ul class="navbar-nav navbar-nav-secondary order-lg-3">
        <li class="nav-item d-lg-none">
          <a class="nav-link nav-icon collapsed" href="" role="button" data-bs-toggle="collapse"
            data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a href="https://themes.getbootstrap.com/product/cube-multipurpose-template-ui-kit/"
            class="btn btn-outline-white rounded-pill ms-2">
            Iniciar Sesión
          </a>
        </li>
      </ul>

      <!-- primary -->
      <div class="navbar-collapse collapse" id="navbar" data-bs-parent="#mainNav">
        <ul class="navbar-nav">
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button" aria-expanded="false">
              <i class="fa-solid fa-house"></i>Inicio
            </a>


          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button" aria-expanded="false">
              <i class="fa-solid fa-magnifying-glass"></i>Busqueda
            </a>

          </li>
          <li class="nav-item ">
            <a class="nav-link " href="#" role="button" aria-expanded="false" data-bs-auto-close="outside">
              <i class="fa-solid fa-list"></i>Mis Listas
            </a>

          </li>

         
          <li class="nav-item d-lg-none">
            <a href="https://themes.getbootstrap.com/product/cube-multipurpose-template-ui-kit/"
              class="nav-link text-primary">Buy Cube</a>
          </li>
        </ul>
      </div>



      <!-- mobile user menu -->




    </div>
  </nav>
